/* You can add global styles to this file, and also import other style files */
@media (prefers-color-scheme: dark) {
	.themed {
		background-color: black;
		* {
			background-color: black;
			color: white;
		}
	}
}

@media (prefers-color-scheme: light) {
	.themed {
		background-color: white;
		* {
			background-color: white;
			color: black;
		}
	}
}

@font-face {
	font-family: "Georgia";
	src: url("assets/fonts/Georgia/Georgia.ttf");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Georgia";
	src: url("assets/fonts/Georgia/Georgia Italic.ttf");
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: "Georgia";
	src: url("assets/fonts/Georgia/Georgia Bold.ttf");
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: "Georgia";
	src: url("assets/fonts/Georgia/Georgia Bold Italic.ttf");
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: "PlayfairDisplay";
	src: url("assets/fonts/PlayfairDisplay/PlayfairDisplay-Regular.ttf");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "PlayfairDisplay";
	src: url("assets/fonts/PlayfairDisplay/PlayfairDisplay-Italic.ttf");
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: "PlayfairDisplay";
	src: url("assets/fonts/PlayfairDisplay/PlayfairDisplay-Bold.ttf");
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: "PlayfairDisplay";
	src: url("assets/fonts/PlayfairDisplay/PlayfairDisplay-BoldItalic.ttf");
	font-weight: bold;
	font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Playfair Display", "Palatino", serif;
}

body, p {
	font-family: "Georgia", "Palatino", serif;
}

.themed {
	input[type="text"], input[type="number"] {
		background: transparent;
	}
}

.themedDarkOverride {
	background-color: black;
	* {
		background-color: black;
		color: white;
	}
}

.themedLightOverride {
	background-color: white;
	* {
		background-color: white;
		color: black;
	}
}

.align-items-center {
	display: flex;
	align-content: center;
	align-items: center;
}

ngb-modal-window {
	background: transparent!important;
}

/* add appropriate colors to fb, twitter and google buttons */
/* Define color */
$fbColor:#3B5998;

.btn-fb, .btn-fb:hover, .btn-fb:active, .btn-fb:visited, .btn-fb:focus, .btn-fb:active:focus {
	background-color: $fbColor!important;
	color: white !important;
}
// .fb {
// 	background-color: #3B5998;
// 	color: white;
// }

// .twitter {
// 	background-color: #55ACEE;
// 	color: white;
// }

// .google {
// 	background-color: #dd4b39;
// 	color: white;
// }
